{
  "globals": {
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "describe": true,
    "chai": true,
    "chaiHttp": true,
    "prisma": true,
    "server": true,
    "testEcosystem": true,
    "testGame": true,
    "testGameTwo": true,
    "testProfile": true,
    "testPlayer": true,
    "testPlayerTwo": true,
    "testPlayerWithToken": true,
    "testCurrency": true,
    "testCollection": true,
    "testCollectionItem": true,
    "testShop": true,
    "testShopOffer": true,
    "testEthersWallet": true,
    "testSystemDelegateApprover": true,
    "testForwarder": true,
    "testLootboxManager": true,
    "testLootboxManagerLootbox": true
  },
}
